/* GENERAL & SITE-WIDE RULES */
body {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size:16px;
}

h1, h2, h3, h4, h5 {
	font-weight:400;
}

.light-text {
	font-weight:300;
}

.bold-text {
	font-weight:700;
}

.clear-spacing{
	margin:1em 0;
}

.clear-spacing-2 {
	margin:10em 0;
}

.clear-spacing-3{
	margin:2em 0;
}

/* HERO SECTION */

.hero {
	background-image: url('../img/cityscape.jpg'); /*url('../../assets/img/paper-stars-horz.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
	height: 350px;
	width: 100%;
}

.hero h1, .hero h2, .hero h3 {
	color:#ffffff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	margin-bottom:1em;
}

.hero .navbar {
	background-color:rgba(0,0,0,0.5);
	height:75px;
	padding-top:15px;
	border:none;
}


/* PROJECTS SECTION CLASSES & IDS */

#projects {
	background-color:#ffab32;
}

#projects img {
	border:1px solid #ffffff;
	width:100%;
}

#projects .col-2 {
	padding:0;
}

/* TIMELINE RELATED CLASSES & IDS */

#timeline{
	padding:15px 0;
}

#timeline_map{

}

#timeline_map li {
	list-style-type:none;
}

#timeline_map .row {
	display:table-row;
	padding:0;
}

#timeline_map .col-2, 
#timeline_map .col-5, 
#timeline_map .col-6 , 
#timeline_map .col-1{
	padding:0;
	display:table-column;
}

/*.stem {
	border:3px solid #ababab;
	min-height:1px;
	height:100%;
	width:3px;
}

.stem:before{
	content: "";
}*/

.outer-content {
	margin-top:10px;
	position:relative;
	top:150px;
}

.stem {
	width:6px;
	background-color:#ababab;
	margin:0;
	height:100%;
	min-height:inherit;
	position:absolute;
	left: 50%;
}

.era {
	padding:10px 20px;
	background-color: rgba(0,0,0,0.8);
	position:inherit;
	left: 47%; /*-71px;*/
	top:-30px;
	min-height:70px;
	min-width:150px;
	text-align:center;
	font-weight:700;
	color:#ffffff;
	box-shadow:1px 1px 2px rgba(0,0,0,0.7);
}

.leaf {
	border:2px dotted #ababab;
	/*border-image: url(../../assets/img/border-dot.png);*/
	width:100%;
}

.leaf-blue {
	border-color:blue;
}

.leaf-green {
	border-color:green;
}

.leaf-orange {
	border-color:orange;
}

.leaf-grey {
	border-color:grey;
}

.leaf-box{
	position:relative;
	padding:5em;
}

.leaf-end {
	background-color:gray;
	border-radius:100px;
	padding:100px;
	width:100px;
	height:100px;
	position:absolute;
	text-align:center;
	top:-40px;
}

.leaf-end-overlay {
	background-color:rgba(0,0,0,0.5);
	opacity:0.6;
	position:inherit;
	top:0;
	left:0;
	padding:100px;
	width:100px;
	height:100px;
	border-radius:100px;
	background-size: 100%;
	background-position:center;
    background-repeat: no-repeat;
	cursor:pointer;
	transition:linear all 0.3s;
}

.leaf-end-overlay:hover{
	opacity:1;
	transition:linear all 0.3s;
}

.leaf-end-text {
	color:#ffffff;
	font-weight:700;
	font-size:16px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.9);
	text-align:center;
	width:100%;
	position:inherit;
	left:0;
	top:45%;
}

.text-bg {
	background-color:rgba(0,0,0,0.4);
	padding:5px;
}

.leaf-end-left{
	left:0;
}

.leaf-end-right{
	right:0;
}

.clt-front-end {
	background-image: url('../img/front-end-devs.jpeg');
}

.google-io{
	background-image: url('../img/google_io_1.jpg');
}

.tts-intro-class{
	background-image: url('../img/tts-intro-class.jpg');
}

.tts-grad-class{
	background-image: url('../img/tts-grad-class.jpg');
}

.modal-border img{
	border: 10px solid #fff;
	box-shadow:2px 2px 2px rgba(0,0,0,0.5);
}

.modal-description {
	color:#fff;
	background-color:rgba(10,10,10,0.7);
	border-radius:40px;
	padding:5px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.7);
}

.modal-description a {
	color: #6fe0e7;
	opacity:0.7;
}

.modal-description a:hover{
	opacity:1;
}

.modal-description h3, .modal-description p {
	padding-left:15px;
}

.modal-rounded {
	border-radius:50%;
}

.modal-items{
	border-radius:50%;
	padding:30px 40px;
	color:#fff;
	font-size:25px;
	font-weight:700;
	margin:20px 0;
	box-shadow:4px 4px 4px rgba(0,0,0,0.5);
}

.item-active{
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
	border:1px solid rgba(0,0,0,0.45);
}

.item-blue {
	background-color:#6fe0e7;
}

.item-orange{
	background-color:#ffab32;
}

.item-gray {
	background-color:#5d5d5d;
}

.close {
	color:#fff;
	text-shadow:none;
	font-size:25px;
	opacity:1;
	background-color:#1a1a1a;
	padding:4px 10px;
	border-radius:50%;
	box-shadow:4px 4px 4px rgba(0,0,0,0.5);
}

.close:hover{
	text-shadow:none;
	color:#fff;
}