.text {
  &--center {
    text-align: center;
  }
}

.align {
  &--left {
    align-items: left;
    display: flex;
  }

  &--right {
    align-items: right;
    display: flex;
  }

  &--centered {
    align-items: center;
    display: flex;
  }
}

.align--centered__vertical {
  @extend .align--centered;

  flex-direction: column;
  justify-content: center;
}