//Glyphicons font
$icon-font-path: "../fonts/";

/// COLORS
$brand: (
  'primary': #ffab32,
  'accent': #6fe0e7
);

$neutrals: (
  'lightest': #ffffff,
  'lighter': #f8f8f8,
  'medium': #5d5d5d,
  'darkest': #1a1a1a
);

/// BOX MODEL
$default-spacing: 10px;
$default-box-shadow: 1px 1px 1px rgba(map-get($neutrals, 'darkest'), 0.5);