<div class="container--centered">
    <div class="col-10 col-offset-1">
      <header>
        <h2 class="text--center">What I've worked on</h2>
      </header>
      <div class="legend">
        <h3 class="text--center">Timeline Legend</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                Line
              </th>
              <th>
                Definition
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-6">
                <div class="leaf leaf-blue"></div>
              </td>
              <td class="col-6">
                <em>Front End and Full Stack Development</em>
              </td>
            </tr>
            <tr>
              <td class="col-6">
                <div class="leaf leaf-orange"></div>
              </td>
              <td class="col-6">
                <em>Web & Graphic Design, Art Direction</em>
              </td>
            </tr>
            <tr>
              <td class="col-6">
                <div class="leaf leaf-green"></div>
              </td>
              <td class="col-6">
                <em>Writing, Editing, and Journalism</em>
              </td>
            </tr>
            <tr>
              <td class="col-6">
                <div class="leaf leaf-grey"></div>
              </td>
              <td class="col-6">
                <em>Community Organization and Outreach, Public Speaking</em>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="outer-content">
        <div class="stem">
        </div>
        <span class="era">2015</span>
        <div class="leaf-box">
          <div class="leaf-end leaf-end-left">
            <div class="leaf-end-overlay clt-front-end">
              <p class="leaf-end-text">
                <span class="text-bg">Charlotte Front End Devs</span>
              </p>
            </div>
          </div>
          
          <div class="leaf"></div>
          <div class="leaf-end leaf-end-right" data-toggle="modal" data-target="#googleIOModal">
            <div class="leaf-end-overlay google-io">
              <p class="leaf-end-text">
                <span class="text-bg">Google I/O</span>
              </p>
            </div>
          </div>
        </div>
        
        <div class="clear-spacing-2"></div>
        
        <div class="leaf-box">
          <div class="leaf-end leaf-end-left">
            <div class="leaf-end-overlay tts-intro-class">
              <p class="leaf-end-text">
                <span class="text-bg">
                  Tech Talent South
                </span>
                <br>
                <span class="text-bg">
                  Intro to Web Design
                </span>
              </p>
            </div>
          </div>
          <div class="leaf"></div>
          <div class="leaf-end leaf-end-right">
            <div class="leaf-end-overlay tts-grad-class">
              <p class="leaf-end-text">
                <span class="text-bg">
                  Tech Talent South
                </span>
                <br>
                <span class="text-bg">
                  Next Level Rails
                </span>
              </p>
            </div>
          </div>
        </div>
        
        <div class="clear-spacing-2"></div>
        
        <span class="era">2014</span>
        <div class="leaf-box">
          <div class="leaf-end leaf-end-left">
            <div class="leaf-end-overlay tts-intro-class">
              <p class="leaf-end-text">
                <span class="text-bg">
                  Tech Talent South
                </span>
                <br>
                <span class="text-bg">
                  Intro to Web Design
                </span>
              </p>
            </div>
          </div>
          <div class="leaf"></div>
          <div class="leaf-end leaf-end-right">
            <div class="leaf-end-overlay tts-grad-class">
              <p class="leaf-end-text">
                <span class="text-bg">
                  Tech Talent South
                </span>
                <br>
                <span class="text-bg">
                  Next Level Rails
                </span>
              </p>
            </div>
          </div>
        </div>
        
        <div class="clear-spacing-2"></div>
        
      </div>
      
      
      <!--<ul id="timeline_map">
        <li>
          <div class="row">
            <div class="col-6">
              <h3>Some content</h3>
              <h3>MOre content</h3>
            </div>
            
            <div class="col-1">
              <div class="stem"></div>
            </div>
            
            <div class="col-5">
            </div>
          </div>
        </li>
      </ul> -->
    </div>
  </div>